 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
body {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
}


.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.barra-topo {
    position: relative;
    background: linear-gradient(90deg, #a020f0, #ff4b2b);
    
    width: 55%;
    height: 40px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-topo h1 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.btn-voltar {
    position: absolute;
    left: 85px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-voltar:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-50%) scale(1.1);
}


.conteudo {
    margin-top: 80px;
    padding: 20px;
}

.barra-pesquisa {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.barra-pesquisa input {
    width: 80%;
    max-width: 400px;
    padding: 10px 15px;
    border: 2px solid #a020f0;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.barra-pesquisa input:focus {
    border-color: #ff4b2b;
    box-shadow: 0 0 8px rgba(255, 75, 43, 0.3);
}

.lista-turmas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 280px));
    justify-content: center;
    gap: 20px;
}

.card-turma {
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.card-turma:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.card-turma h3 {
    margin-top: 0;
    color: #1b263b;
}

.area-botao {
    text-align: center;
    margin-top: 30px;
}

#btnCriarTurma {
    background: linear-gradient(90deg, #a020f0, #ff4b2b);
    border: none;
    padding: 12px 30px;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

#btnCriarTurma:hover {
    opacity: 0.85;
}

.hist-item {
    background: #ffffff22;
    padding: 10px;
    border-radius: 10px;
    margin-top: 8px;
}

